<div class="container-fluid">
  <h1 class="name">Choo Xing Yu</h1>
  <h4 class="profile_content">
    <span class="hyper_link">Computer Science</span> Undergraduate at NUS
  </h4>
  <br />
  <p class="profile_content">
    Hi, my name is Xingyu! I am an inquisitive learner who believes in the
    importance of a can-do attitude.
  </p>
  <p class="profile_content">
    From singlehandedly developing an entire mobile app for RSAF as a NSF with
    no prior experience, to playing in NUS guitar ensemble (GENUS) with no
    musical background, I am constantly pushing myself to try new things.
  </p>
  <p class="profile_content">
    My latest project,
    <a
      class="hyper_link"
      [href]="getAttendanceBotLink()"
      target="_blank"
      rel="noopener noreferrer"
      style="text-decoration: none"
      >GENUSAttendance_bot</a
    >, which utilizes Telegram as a platform to automate the tedious and
    error-prone task of taking approximately 50 members' attendance twice
    weekly. This provides important attendance analytics after each practice
    that enables the EXCO to be reactive with members engagement.
  </p>
</div>
