.name {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #292929;
  font-size: 45px;
}

.hyper_link {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #38a3ff;
}

.profile_content {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #888888;
}

@media only screen and (max-width: 600px) {
  .profile_content {
    padding-right: 10%;
  }
}
