<div class="container-fluid">
  <h1 class="name">Choo Xing Yu</h1>
  <h4 class="profile_content">
    <span class="hyper_link">Computer Science</span> Undergraduate at NUS
  </h4>
  <br />
  <p class="profile_content">
    Hi, my name is Xingyu! I am an inquisitive learner who believes in the
    importance of a can-do attitude. From writing an entire mobile app alone in
    2018 with no prior experience to playing in NUS guitar ensemble without any
    musical background. I am constantly pushing myself to try new things.
  </p>
  <p class="profile_content">
    My latest project,
    <a
      class="hyper_link"
      [href]="getAttendanceBotLink()"
      target="_blank"
      rel="noopener noreferrer"
      style="text-decoration: none"
      >GENUSAttendance_bot</a
    >
    , utilizes Telegram as a platform to automate the tedious and error-prone
    task of taking ~50 member's attendance twice weekly. It also provides
    important attendance analytics after each practice.
  </p>
</div>
