.brand {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #292929;
}

.resume {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #38a3ff;
}

.navbar {
  box-shadow: 0px 3px 10px #00000029;
}
