.project_description_header {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #292929;
}

.tools {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #292929;
}

.tool {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #888888;
}
