<div
  class="container-fluid"
  style="margin-top: 10%; margin-bottom: 10%; margin-left: 10%"
>
  <div style="margin-bottom: 5%">
    <h3 class="row contact_me ms-2">Contact Me</h3>
  </div>
  <div class="row">
    <div class="col">
      <i-feather name="phone" class="icons me-2"></i-feather>
      <a class="contact_details">+65 9662 5596</a>
    </div>
    <div class="col-5">
      <i-feather name="mail" class="icons me-2"></i-feather>
      <a class="contact_details">chooxingyu@u.nus.edu</a>
    </div>
    <div class="col">
      <i-feather name="github" class="icons me-2"></i-feather
      ><a
        href="https://github.com/Choo-Xing-Yu"
        target="_blank"
        rel="noopener noreferrer"
        class="contact_details"
        >Choo-Xing-Yu</a
      >
    </div>
  </div>
</div>
