.contact_me {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  color: white;
}

.contact_details {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: white;
  text-decoration: none;
}

.icons {
  color: white;
}

@media only screen and (max-width: 1000px) {
  .spacer {
    margin-bottom: 10px;
  }
}
