<div class="container-fluid" style="margin-top: 10%; margin-bottom: 10%">
  <div class="ms-5">
    <div style="margin-bottom: 5%">
      <h3 class="row contact_me ms-2">Contact Me</h3>
    </div>
    <div class="row">
      <div class="col-lg-4 col-sm-12 spacer">
        <i-feather name="phone" class="icons me-2"></i-feather>
        <a class="contact_details" href="tel: +6596625596">+65 9662 5596</a>
      </div>
      <div class="col-lg-5 col-sm-12 spacer">
        <i-feather name="mail" class="icons me-2"></i-feather>
        <a class="contact_details" href="mailto: chooxingyu@u.nus.edu"
          >chooxingyu@u.nus.edu</a
        >
      </div>
      <div class="col-lg-3 col-sm-12">
        <i-feather name="github" class="icons me-2"></i-feather
        ><a
          href="https://github.com/Choo-Xing-Yu"
          target="_blank"
          rel="noopener noreferrer"
          class="contact_details"
          >Choo-Xing-Yu</a
        >
      </div>
    </div>
  </div>
</div>
