.contact_me {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  color: white;
}

.contact_details {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: white;
  text-decoration: none;
}

.icons {
  color: white;
}
