<div class="row" style="margin-top: 10%; margin-bottom: 10%">
  <div
    class="col-md-6 col-sm-12 order-2 order-md-1 profile-description-container"
  >
    <app-profile-description> </app-profile-description>
  </div>
  <div class="col-md-6 col-sm-12 order-1 order-md-2 profile-picture-container">
    <img
      class="profile-picture img-fluid mx-auto d-block"
      src="../../../assets/images/profilepic.jpg"
      alt="../../../assets/images/profilepic.jpg"
    />
    <br />
    <br />
  </div>
</div>
