.project_title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #292929;
}

.project_content {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #888888;
  margin-bottom: 10px;
}

.project_url {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #38a3ff;
  text-decoration: none !important;
  margin-left: 15px;
}

.project_img {
  max-width: 75%;
}

.accordion .card-header button {
  width: 100%;
  color: #888888;
}
